
.card{
    background-color: #006d77;
    color: #edf6f9;
    
}


h5{
    color:#edf6f9;
}

body{
    background-color: #006d77;
    color: #ffddd2;
}


.album{
    background-color: #83c5be;
}

.col{
    background-color: #83c5be;
    
    
}

small{
    color:#edf6f9
}

.navbar {
    background-color: #e29578;
}
